
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutWrap>
  <mat-card fxFlex = "75" fxFlexAlign="stretch">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
        <div fxFlex="30">
          <img class="card-row" src= '{{imgSrcBase}}/primary.png' alt='{{tool.toolName}} representative image'>
        </div>
        <div fxFlex="66" fxFlexAlign="center">
          <span class ="mat-title">Software Features</span>
      <mat-list>
        <mat-list-item>Automated curve fitting and classification software</mat-list-item>
        <mat-list-item>Algorithm recognizes bell shaped curves, implements standard Hill equation, extensible for other models; distinguishes activation vs inhibition</mat-list-item>
        <mat-list-item>Stand alone tool designed explicitly for public use and for source code reference</mat-list-item>
        <mat-list-item>Analyzes 10k curves with good performance, capacity to handle >100k curves with memory usage on user machine being the limit</mat-list-item>
        <mat-list-item>Provides activity ranking of complete and incomplete curves</mat-list-item>
        <mat-list-item>Fast chemical similarity and substructure searching (including smarts support) enabled using path-based fingerprints</mat-list-item>
        <mat-list-item>Ability to export results, curve images</mat-list-item>
        <mat-list-item>Web deployed software, keeps users current with latest features</mat-list-item>
      </mat-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutWrap>
  <mat-card fxFlex = "75" fxFlexAlign="stretch">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
        <div fxFlex="66" fxFlexAlign="center">
          <span class ="mat-title">Source Code Highlights</span>
      <mat-list>
        <mat-list-item>R-Group table generation using substructure querying</mat-list-item>
        <mat-list-item>Software implements in-memory embedded database to allow for advanced querying/ filtering across all data in software</mat-list-item>
        <mat-list-item>Java based code provided as a reference and the potential for integration & automation in workflow</mat-list-item>
        <mat-list-item>Curve fitting algorithm that handles more curves than any commercial package (scalability outpaces screening capacity; millions of samples possible)</mat-list-item>
        <mat-list-item>Curve classification method</mat-list-item>
        <mat-list-item>R-group labeling algorithm</mat-list-item>
        <mat-list-item>Curve rendering</mat-list-item>
        <mat-list-item>Advanced and reusable query/retrievable interface</mat-list-item>
        <mat-list-item>Reusable and extensible Java library for handling databases & high performance molecular spreadsheets</mat-list-item>
        <mat-list-item>JChem path-based fingerprint generation and use</mat-list-item>
        </mat-list>
        </div>
        <div fxFlex="30">
          <img class="card-row" src= '{{imgSrcBase}}/primary.png' alt='{{tool.toolName}} representative image'>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutWrap>
  <div fxFlex = "95">
    <a class = "mat-title tool-link secondary-color" href="https://tripod.nih.gov/curvefit/sample_data.txt"><strong>Sample Data File</strong>&nbsp;<mat-icon>file_download</mat-icon></a><br>
  </div>
</div>
<br>
<app-java-web-start [tool]=tool></app-java-web-start>
