<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex = "33" fxFlexAlign="center">
    Enter 21-mer Sequences Below, one sequence per line. <br>
    <textarea class = "targetBox" rows="8" placeholder="AATAGTATGACCCTCGATGGG" spellcheck="false" [formControl]="resolverCtrl"></textarea>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex = "10">
    <button mat-raised-button color="accent" name="Calbutton" (click)="resolve()" [disabled]="properties.length < 1">Resolve</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutWrap>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'smiles')" name = "smiles">Smiles</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'smilesParent')" name = "smilesParent">Smiles Parent</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molForm')" name = "molForm">Mol Form</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molWeight')" name = "smiles">Mol Weight</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molExactMass')" name = "molExactMass">Mol Exact Mass</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'unii')" name = "unii">Unii</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'qhts')" name = "qhts">qHTS</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'inchikey')" name = "inchikey">Inchi Key</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'cas')" name = "cas">CAS</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'names')" name = "names">Names</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'hash')" name = "hash">Hash</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'stereo')" name = "stereo">Stereo</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molFormParent')" name = "molFormParent">Mol Form Parent</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molWeightParent')" name = "molWeightParent">Mol Weight Parent</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molExactMassParent')" name = "molExactMassParent">Mol Exact Mass Parent</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'smallestMoietyCount')" name = "smallestMoietyCount">Smallest Moiety Count</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'smallestMoietySmiles')" name = "smallestMoietySmiles">Smallest Moiety Smiles</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molWeightParent')" name = "molWeightParent">Mol Weight Parent</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'molExactMassParent')" name = "molExactMassParent">Mol Exact Mass Parent</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'smallestMoietyCount')" name = "smallestMoietyCount">Smallest Moiety Count</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'smallestMoietySmiles')" name = "smallestMoietySmiles">Smallest Moiety Smiles</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'smallestMoietyName')" name = "smallestMoietyName">Smallest Moiety Name</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'stereoParent')" name = "stereoParent">Stereo Parent</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'pt')" name = "pt">Pt</mat-checkbox>
  </div>
  <div fxFlex = "20">
    <mat-checkbox (change)="checked($event, 'lychi')" name = "lychi">Lychi</mat-checkbox>
  </div>
</div>
