<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex = "33" fxFlexAlign="center">
    Enter a drug name or structure, one per line.<br>
    <textarea class = "targetBox" rows="8" placeholder="aspirin" spellcheck="false" [formControl]="resolverCtrl"></textarea>
  </div>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex = "10">
    <button mat-raised-button color="accent" name="Calbutton" (click)="resolve()" [disabled]="allowResolve()">Resolve</button>
  </div>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex = "95">
<div class ="options-grid">
      <div *ngFor ="let option of options">
        <mat-checkbox
                matTooltip={{option.description}}
                (change)="checked($event, option.name)"
                name = {{option.name}}>
          {{option.title}}
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
<br>
<div #dataList *ngIf = "dataSource.data.length > 0" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center">
  <div fxFlex = "10">
    <button mat-button [matMenuTriggerFor]="menu">
      Download Data <mat-icon>file_download</mat-icon>
    </button>
  </div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)=" downloadJSON()">
    <mat-icon>code</mat-icon>
    <span>JSON</span>
  </button>
  <button mat-menu-item (click)=" downloadCSV()">
    <mat-icon>border_all</mat-icon>
    <span>CSV</span>
  </button>
</mat-menu>
  <div fxFlex="20">
    <mat-slide-toggle
            [color]="'primary'"
            (change)="showTable($event)">
      Show data in table
    </mat-slide-toggle>
  </div>
</div>

<div *ngIf = "loaded && showTableData === true" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="95">
  <div #dataList fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <div fxFlex="50">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="95">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <ng-container *ngFor = "let field of fields" matColumnDef="{{field}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{getLabel(field)}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row[field]}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="fields"></mat-header-row>
      <mat-row *matRowDef="let row; columns: fields;" fxLayoutAlign="center start"></mat-row>
    </mat-table>
  </div>
</div>
</div>

<div *ngIf = "loaded && showTableData === false" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start">
  <div fxFlex="95">
    <textarea class = "raw">{{rawData}}</textarea>
  </div>
</div>
<br>
<br>
<br>
<!--
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
-->
