
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutWrap>
  <mat-card fxFlex = "75" fxFlexAlign="stretch">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
        <div fxFlex="30">
          <img class="card-row" src= '{{imgSrcBase}}/primary.png' alt='{{tool.toolName}} representative image'>
        </div>
        <div fxFlex="66" fxFlexAlign="center">
          <span class ="mat-title">Software Features</span>
      <ul class = "plain-list">
        <li>Automated curve fitting and classification software</li>
        <li>Algorithm recognizes bell shaped curves, implements standard Hill equation, extensible for other models; distinguishes activation vs inhibition</li>
        <li>Stand alone tool designed explicitly for public use and for source code reference</li>
        <li>Analyzes 10k curves with good performance, capacity to handle >100k curves with memory usage on user machine being the limit</li>
        <li>Provides activity ranking of complete and incomplete curves</li>
        <li>Fast chemical similarity and substructure searching (including smarts support) enabled using path-based fingerprints</li>
        <li>Ability to export results, curve images</li>
        <li>Web deployed software, keeps users current with latest features</li>
      </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutWrap>
  <mat-card fxFlex = "75" fxFlexAlign="stretch">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
        <div fxFlex="66" fxFlexAlign="center">
          <span class ="mat-title">Source Code Highlights</span>
      <ul class ="plain-list">
        <li>R-Group table generation using substructure querying</li>
        <li>Software implements in-memory embedded database to allow for advanced querying/ filtering across all data in software</li>
        <li>Java based code provided as a reference and the potential for integration & automation in workflow</li>
        <li>Curve fitting algorithm that handles more curves than any commercial package (scalability outpaces screening capacity; millions of samples possible)</li>
        <li>Curve classification method</li>
        <li>R-group labeling algorithm</li>
        <li>Curve rendering</li>
        <li>Advanced and reusable query/retrievable interface</li>
        <li>Reusable and extensible Java library for handling databases & high performance molecular spreadsheets</li>
        <li>JChem path-based fingerprint generation and use</li>
        </ul>
        </div>
        <div fxFlex="30">
          <img class="card-row" src= '{{imgSrcBase}}/primary.png' alt='{{tool.toolName}} representative image'>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutWrap>
  <div fxFlex = "95">
    <a class = "mat-title tool-link secondary-color" href="https://tripod.nih.gov/curvefit/sample_data.txt"><strong>Sample Data File</strong>&nbsp;<mat-icon>file_download</mat-icon></a><br>
  </div>
</div>
<br>
<app-java-web-start [tool]=tool></app-java-web-start>
