<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex = "95">
    <mat-form-field class ="tool-filter">
      <input matInput placeholder="Search Tools" aria-label="Filter tools" (keyup)="filter($event.target.value)">
    </mat-form-field>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex = "95">
<span>{{filteredTools.length}} of {{tools.length}}</span>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayout.xs="column">
  <div fxFlex="30" class ="card-holder" *ngFor="let tool of filteredTools">
    <app-tool class="tool-comp" [tool] = tool></app-tool>
  </div>
</div>