<div fxLayout="row" fxLayoutAlign="space-around center" [ngClass.lt-sm]="'mobile-padded'">
  <div fxFlex = "10" [fxHide.gt-sm]="true">
    <a routerLink="/"><mat-icon>home</mat-icon></a>
  </div>
  <div fxFlex = "90">
  <mat-form-field class ="tool-filter">
      <input matInput placeholder="Search Tools" aria-label="Filter tools" [(ngModel)]="value" (keyup)="search($event.target.value)">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" [ngClass.lt-sm]="'mobile-padded'">
  <div fxFlex = "30" >
    I am a:
    <app-tool-filters [filters] = audiences [property]="'audience'"></app-tool-filters>
  </div>
 <div fxFlex = "30">
    I need a:
   <app-tool-filters [filters] = toolTypes [property]="'toolType'"></app-tool-filters>

   <!-- <mat-chip-list #chipList [(ngModel)]="selectedFilters" color="accent" multiple>
      <mat-chip *ngFor="let filter of toolTypes"
                [selected]="isSelected(filter)"
                (click)="selectFilter('toolType', filter)">
        {{filter}}
      </mat-chip>
    </mat-chip-list>-->
</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex = "95">
    <span class ="mat-h1">{{filteredToolsCount}}</span> of <span class ="mat-h1">{{count}}</span>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex = "100">
    <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
<mat-expansion-panel *ngFor="let project of filteredTools" [expanded]="'true'" class="grey">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1>{{project.parent}}</h1><br>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="panel-holder">
  <div class="grid-list">
    <div class ="card-holder" *ngFor="let tool of project.tools">
      <app-tool class="tool-comp" [tool] = tool></app-tool>
  </div>
  </div>
    </div>
</mat-expansion-panel>
  </div>
</div>