.tool-filter {
    width: 100%;
}

app-tool.tool-comp {
    height: 100%;
}

.grey {
background-color: #f7f7f7;
}

.panel-holder {
    padding-bottom: 5vh;
}

.grid-list {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-row-gap: 5em;
}

.grid-list > div {
    /*margin-bottom: 4em;*/
    min-height:100%;
}

.grid-list > mat-card {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .grid-list {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
        grid-template-rows: auto;
        grid-gap: 1em;
        grid-row-gap: 5em;
    }

    .tool-filter {
        width:75%;
    }
}