
<app-screenshot-display [images]="images"></app-screenshot-display>

<app-java-web-start [tool]=tool></app-java-web-start>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex = "95">
    <div class = "mat-display-2">About NCATS curve classes</div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.xs="column">
  <mat-card fxFlex = "45" fxFlexAlign="stretch">
    <img mat-card-image src= '{{imgSrcBase}}/curve-table.png' alt='Overview of curve classification at the NCGC'>
    <mat-card-content>
      <p>
        <span><i>Overview of curve classification at the NCGC</i></span>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex = "45" fxFlexAlign="stretch">

    <img mat-card-image src= '{{imgSrcBase}}/curves.png' alt='How we sort responses from qHTS screens'>
    <mat-card-content>
      <p>
        <span><i>How we sort responses from qHTS screens</i></span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
<br>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" >
  <div fxFlex = "95">
  <span>Learn More: Southall NT, Jadhav A, Huang R, Nguyen T, Wang Y.
    19 Enabling the Large-Scale Analysis of Quantitative High-Throughput Screening Data. Handbook of Drug Screening.
    2009 page 442-464.</span>
  </div>
</div>
<br>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" class="row-green">
</div>
