<div fxLayout="row" fxLayoutAlign="center" fxLayout.sm="column">
    <div fxFlex = "60">
      <span class = "">
          NCATS Image to Chemical Structure Service is a web tool to convert images of chemical structures from PDFs, web pages, and local image files to a chemical structure format (smiles or molfile) so they can be used to search and register chemical information. The underlying technology used is an NCATS java library called <a href="https://spotlite.nih.gov/ncats/molvec" target="_blank">MolVec</a>.
      </span>
    </div>
  </div>
  <br>
  <app-screenshot-display [images]=images [size] = 30></app-screenshot-display>