
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex = "50" fxFlexAlign="center">
    <p>
      This version of the calculator takes 21-base target sequences (which includes 19 bases and a two base overhang). <br>
      A second version that takes 19-mer target sequences, assuming that the 2 base overhang is standardized, is <a href="http://rnai.nih.gov/haystack/C911Calc2.html">here</a>.</p>
    <p>
      The C911 control uses the complement of bases 9 through 11 of the original siRNA.  <br>
      In our experiments, C911 controls maintain the off-target effects of the original sequence while eliminating the on-target effect of the siRNA, making it an ideal negative control to allow for experimental differentiation between on-target and off-target effects.  For more details, <br>
      see <a href="http://www.plosone.org/article/info:doi%2F10.1371%2Fjournal.pone.0051942">C911: A Bench-Level Control for Sequence Specific siRNA Off-Target Effects</a>.  If you have questions, feel free to contact me at eugen.buehler@nih.gov.
    </p>
  </div>
</div>
<br>

<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
      <div fxFlex = "33" fxFlexAlign="center">
        Enter 21-mer Sequences Below, one sequence per line. <br>
        <textarea class = "targetBox" name="targetBox" cols="32" rows="8" (change)="process()" placeholder="AATAGTATGACCCTCGATGGG" spellcheck="false" [formControl]="sequenceCtrl"></textarea>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
      <div fxFlex = "10">
        <button mat-raised-button color="accent" name="Calbutton" (click)="process()">Generate C911 Sequences</button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
      <div fxFlex = "95">
        <div *ngIf="error">
          <h2 class = error>{{error}}</h2>
        </div>
        <div *ngIf="data.length> 0">
          <table id="outputTable" border ="1" align = center cellpadding=5>
            <tr><th>Original Target</th><th>C911 Target</th><th>C911 Sense</th><th>C911 Antisense</th></tr>
            <tr *ngFor="let row of data">
              <td>{{row?.cell1}}</td>
              <td>{{row?.myC911}}</td>
              <td>{{row?.senseString}}</td>
              <td>{{row?.antisenseString}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>


