
.public-icon {
    font-size: 2.6em;
}

.tool-card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tool-header {
    align-items: center;
}

.tool-content {
    flex: 1 0 auto;
}

span.mat-title.secondary-color {
    font: 500 28px/40px Roboto, "Helvetica Neue", sans-serif;
}

.thumbnail{
    max-width:200px;
    height:100px;
    flex: auto;
}