<mat-card class = "tool-card">
        <div class="tool-content">
            <a class = "tool-link" routerLink="/{{tool.toolUrl}}">
            <div fxLayout = "row" fxLayoutAlign="start center" fxLayout.sm ="column" class="tool-header">
                <div fxFlex="80" fxFlex.lt-md="100">
                <span class="mat-title secondary-color" >{{tool.toolName}}</span>
            </div>
            <div fxFlex="20" fxFlex.lt-md="100" fxFlexOrder.lt-md="2" *ngIf = tool.public>
                <mat-icon
                        mat-card-avatar
                        matTooltip="public NCATS tool"
                        [matTooltipPosition]="'above'"
                        [color]="'primary'" class ="public-icon" >_public_</mat-icon>
            </div>
        </div>
        <br>
      <br>
      <div *ngIf="tool.image" fxLayout = "row" fxLayoutAlign="center center">
      <div fxFlex="80">
          <img mat-card-image src= {{imgSrc}} alt='{{tool.toolName}} representative image'>
        </div>
      </div>
      <br>
      <div fxLayout = "row" fxLayoutAlign="center center">
          <div fxFlex="90">
              <mat-card-subtitle>{{tool.description}}</mat-card-subtitle>
          </div>
      </div>
            </a>
  </div>
    <div class ="tool-footer">
        <div fxLayout = "row" fxLayoutAlign="space-around center">
            <div fxFlex="95">
        <span class="mat-title"><i>
        <a href = {{tool.url}} target="_blank">{{tool.toolName}}&nbsp;<mat-icon>open_in_new</mat-icon></a></i><br>
    </span>
            </div>
        </div>
        <div fxLayout = "row" fxLayoutAlign="start center">
            <div fxFlex="90">
        <mat-chip-list>
        <mat-chip color="primary"  selected="true" *ngIf = tool.category>{{tool.category}}</mat-chip>
        <mat-chip color="accent"  selected="true" *ngFor = 'let type of tool.toolType'> {{type}}</mat-chip>
        </mat-chip-list>
            </div>
        </div>
    </div>
</mat-card>