<mat-card fxFlex="100" fxFlexAlign="stretch" class="tool-card">
    <a class = "tool-link" routerLink="/{{tool.toolName.toLowerCase()}}">
  <mat-card-header>
    <mat-card-title><span class="mat-title secondary-color" >{{tool.toolName}}</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <br>
      <div *ngIf="tool.image" fxLayout = "row" fxLayoutAlign="center center">
      <div fxFlex="66">
          <img mat-card-image src= {{imgSrc}} alt='{{tool.toolName}} representative image'>
        </div>
      </div>
      <br>
      <div fxLayout = "row" fxLayoutAlign="center center">
          <div fxFlex="90">
              <mat-card-subtitle>{{tool.description}}</mat-card-subtitle>
          </div>
      </div>

  </mat-card-content>
    </a>
    <mat-card-actions>
        <span class="mat-title"><i>
        <a href = {{tool.url}} target="_blank">{{tool.toolName}}&nbsp;<mat-icon>open_in_new</mat-icon></a></i><br>
    </span>
        <mat-chip-list>
        <mat-chip color="primary"  selected="true" *ngIf = tool.category>{{tool.category}}</mat-chip>
        <mat-chip color="accent"  selected="true" *ngIf = tool.toolType>{{tool.toolType}}</mat-chip>
        </mat-chip-list>
<!--
        <mat-card-subtitle >Contact<span *ngIf="tool.contact.length > 1">s</span>: {{tool.contact.join(', ')}}</mat-card-subtitle>
-->
    </mat-card-actions>
</mat-card>
