<div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column">
  <div fxFlex = "15" fxLayoutAlign="center">
  <a mat-raised-button href="https://tripod.nih.gov/files/SetupNCATSFind_private.zip" color="primary" >Download <mat-icon>get_app</mat-icon></a>
  </div>
  <div fxFlex = "60">
    <span class = "">
      Simply download and open the add-in file, and it should prompt for an installation. In certain Excel versions
      and with specific security settings there may be more needed to have the add-in register and persist.
      If there are any issues, please contact <a href ="mailto:tyler.peryea@nih.gov&subject=NCATSFind excel">Tyler Peryea</a> or
      @tyler on<a href ="nihncats.slack.com">NCATS slack</a>.
    </span>
  </div>
</div>
<br>
<app-screenshot-display [images]=images [size] = 30></app-screenshot-display>
