<div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column">
  <div fxFlex = "95">
       <div class ="mat-display-4">{{tool.toolName}}</div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex = "95">
        <div class ="mat-title">{{tool.audience}}</div>
  </div>
</div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
      <div fxFlex = "95">
         <div class = "mat-headline"><i>{{tool.description}}</i></div>
  </div>
</div>