/* You can add global styles to this file, and also import other style files */
@import './ncats-theme';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
}

main {
  padding-top: 100px;
}

footer {
  margin: auto auto 0 auto;
}

.tool-link{
  text-decoration: none;
}

.secondary-color{
  color: #265668;
}

a.tool-link.secondary-color:visited {
  color: #642f6c;
}

img.full-width-banner {
  height: 25vh;
  width: 99vw;
  object-fit: cover;
}

.placeholder {
  height: 25vh;
  width: 100vw;
}

.row-green {
  border-bottom: 2px solid #265668;
}

.row-purple {
  border-bottom: 2px solid #642f6c;
}

.warn {
  background-color: mat-color($ncats-app-warn) !important;
}

.mobile-padded {
  padding: 3vw;
}