 <div class = "tool-banner">
  <span class = "tool-name" [ngClass.lt-sm]="'mobile-header'">{{tool.toolName}}</span>
  <div *ngIf="tool.image; else empty">
  <img class ="full-width-banner" [src] = imgSrc>
  </div>
  <ng-template #empty>
    <div class="placeholder"></div>
  </ng-template>
 </div>
<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex = "95">
    <div class = "mat-headline" [ngClass.lt-sm]="'mobile-headline'"><i>{{tool.description}}</i></div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutAlign.lt-sm="start center">
  <div fxFlex = "95"> <mat-list>
    <mat-list-item class ="mat-title">
    <div  [ngClass.lt-sm]="'mobile-title'">Designed for: {{tool.audience.join(' | ')}}</div>
    </mat-list-item>
  </mat-list>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutAlign.lt-sm="start center">
  <div fxFlex = "95">
    <mat-list>
      <mat-list-item *ngIf="tool.toolType">
        <div class = "mat-title">Tool Type: {{tool.toolType}}</div>
      </mat-list-item>
      <mat-list-item *ngIf="tool.contact.length > 0">
        <div class = "mat-title">NCATS Contact: {{tool.contact.join()}}</div>
      </mat-list-item>
      <mat-list-item *ngIf="tool.collaborators.length > 0">
        <div class = "mat-title">In Collaboration with: {{tool.collaborators}}</div>
      </mat-list-item>
      <mat-list-item *ngIf="tool.publicCodebase === true && tool.codebase">
        <div class = "mat-title">See the code: <a href = {{tool.codebase}} class = "tool-link secondary-color">{{tool.codebase}}</a></div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

 <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
   <div fxFlex = "95">
             <span class="mat-title">
     <i><a href = {{tool.url}} target="_blank">{{tool.toolName}}&nbsp;<mat-icon>open_in_new</mat-icon></a></i><br>
             </span>
   </div>
 </div>
<br>