span.tool-name.mat-display-4.mobile-header {
    font: 100 50px/50px Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    left: 0;
}

.tool-name {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: absolute;
    font-size: calc(84px + (108 - 84) * ((100vh - 300px) / (1600 - 300)));
    line-height: calc(1.1em + (1.3 - 1.2) * ((100vh - 300px)/(1600 - 300)));
    background-color: rgba(255,255,255,0.75);
    height: 25vh;
    left: 2vw;
    width: 55vw;
    text-align: center;
    border-radius: 3px;
    display: block;
}


.mat-headline.mobile-headline {
    margin-left: 2vw;
}

.tool-link {
    word-break: break-all;
}

@media only screen and (max-width: 1280px) {
    .tool-name {
        width:75vw;
        font-size: calc(84px + (108 - 84) * ((100vh - 300px) / (1600 - 300)));
        line-height: calc(1.1em + (1.3 - 1.2) * ((100vh - 300px)/(1600 - 300)));
        }
    }

@media only screen and (max-width: 768px) {
    .tool-name {
        width: 95vw;
        font-size: calc(60px + (108 - 84) * ((100vh - 300px) / (1600 - 300)));
        line-height: calc(1.1em + (1.3 - 1.2) * ((100vh - 300px)/(1600 - 300)));
    }
}
